maiN{
   background-color:rgb(255, 255, 255);
   text-align: center;

}
nav li {
    display: inline;
    margin: 0 0 0 15px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
nav a:hover{
color: aqua;
text-decoration: underline;

}
nav{
   text-align: right;
    position: absolute;
    top: 110px;
    right: 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
 }
   
   body{
      background-color:rgb(255, 255, 255)

   }

   p{
      color: rgb(0, 0, 0);
   }

#banner{
   width: 30%;
   justify-content: auto;
   display: auto;
   justify-content: center;
   align-items: flex;
   margin: 0;

}
footer {
  text-align: center;
  background-color: #1eff00;
  padding: 30px;
}
 .copyright{
  color: #000000;
  font-size: 13px;
  margin:  20px 0;

 }
